<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evo.evoproject.mapper.order.OrderMapper">

    <insert id="insertOrder" parameterType="com.evo.evoproject.domain.order.Order">
        INSERT INTO orders (order_no, user_no, pro_no, order_name, order_address_1, order_address_2, order_phone, order_comment, pro_name, order_timestamp, pro_stock, order_payment, order_status, request_type, order_delivnum)
        VALUES (#{order_no}, #{user_no}, #{pro_no}, #{order_name}, #{order_address1}, #{order_address2}, #{order_phone}, #{order_comment}, #{pro_name}, #{order_timestamp}, #{pro_stock}, #{order_payment}, #{order_status}, #{requestType}, #{order_delivnum})
    </insert>

    <select id="findAllOrders" resultType="com.evo.evoproject.domain.order.Order">
        SELECT * FROM list
    </select>

    <select id="getOrderById" parameterType="java.lang.Long" resultType="com.evo.evoproject.domain.order.Order">
        SELECT * FROM list WHERE id = #{id}
    </select>

    <update id="updateOrder" parameterType="com.evo.evoproject.domain.order.Order">
        UPDATE list SET user_name = #{userName}, item = #{item}, quantity = #{quantity}, price = #{price}
        WHERE id = #{id}
    </update>

    <delete id="deleteOrder" parameterType="java.lang.Long">
        DELETE FROM list WHERE id = #{id}
    </delete>

</mapper>
