<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.evo.evoproject.repository.user.UserRepository">
    <insert id="insertUser" parameterType="com.evo.evoproject.domain.user.User">
        INSERT INTO user (user_id, user_pw, user_name, user_email, user_address_1, user_address_2, user_phone, user_marketing, user_withdrawal, is_admin)
        VALUES (#{userId}, #{userPw}, #{userName}, #{userEmail}, #{userAddress1}, #{userAddress2}, #{userPhone}, #{userMarketing}, #{userWithdrawal}, 'N')
    </insert>

    <select id="findByUserId" parameterType="string" resultType="com.evo.evoproject.domain.user.User">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>
</mapper>
