<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evo Martket_Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

    <!--Header-->
    <header th:replace="~{header :: header}"></header>

    <div class="admin banner">
        <img src="image/admin.png" alt="배송 및 환불정책" width="1600px" height="350px">
    </div>


    <!--Footer-->
    <footer th:replace="~{footer :: footer}"></footer>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
