<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link href="../static/css/order.css" rel="stylesheet" th:href="@{/css/order.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin: 0 auto;
            max-width: 800px;
            padding: 0 15px;
        }

        .payment-form {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-check-input {
            margin-top: 5px;
        }

        .payment-buttons {
            text-align: center;
        }
    </style>
    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            type="text/javascript"
    ></script>
    <!-- iamport.payment.js -->
    <script
            src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
            type="text/javascript"
    ></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var totalAmount = [[${session.totalAmount}]];
        var order = [[${session.order}]];

        /*]]*/
    </script>
    <script defer th:src="@{/js/order.js}"></script>

</head>
<body>
<header class="header">
    <div class="headerCon  tent">
        <div class="rectangle">
            <div class="headerText">Check out</div>
        </div>
    </div>
</header>
<div class="container">
    <h1 class="text-center">주문/결제</h1>
    <div class="payment-form">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputName">이름</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputName" placeholder="이름을 입력하세요" th:value="${user.userName}"
                       type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputAddress">배송지 주소</label>
            <div class="col-sm-6">
                <input class="form-control" id="inputAddress" placeholder="주소를 입력하세요" th:name="order_address1"
                       th:value="${user.userAddress1}" type="text">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary" onclick="searchAddress()" type="button">우편번호</button>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputDetailAddress">상세주소</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputDetailAddress" placeholder="상세주소를 입력하세요" th:name="order_address2"
                       th:value="${user.userAddress2}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputRecipient">수령인</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputRecipient" placeholder="수령인의 이름을 입력하세요" th:name="order_name"
                       th:value="${user.userName}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputPhone">휴대폰번호</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputPhone" placeholder="휴대폰번호를 입력하세요 (000-0000-0000)" th:name="order_phone"
                       th:value="${user.userPhone}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputRequest">요청사항</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputRequest" placeholder="특별한 요청사항이 있으면 입력하세요" type="text">
            </div>
        </div>
        <hr>
        <div class="row mb-3">

            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Shipping</th>
                    <th>SubTotal</th>
                    <th></th>
                </tr>
                </thead>

                <tbody th:if="${cartItems != null}">
                <tr th:each="cartItem : ${cartItems}">
                    <td th:each="product : ${cartItem.products}" th:text="${product.proName}"></td>
                    <td th:each="product : ${cartItem.products}" th:text="${product.proPrice}"></td>
                    <td th:text="${cartItem.cartQuantity}"></td>
                    <td th:each="product : ${cartItem.products}" th:text="${product.shipping}"></td>
                    <td>
                        <!-- 상품가격 + 상품의 배송비 합계 -->
                        <span th:each="product : ${cartItem.products}"
                              th:text="${product.proPrice * cartItem.cartQuantity + product.shipping}"></span>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="inputPaymentMethod">결제방법</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" id="creditCard" name="paymentMethod" type="radio" value="creditCard">
                <label class="form-check-label" for="creditCard">
                    신용카드 결제
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="bankTransfer" name="paymentMethod" type="radio"
                       value="bankTransfer">
                <label class="form-check-label" for="bankTransfer">
                    계좌 이체
                </label>
            </div>
            <label class="form-check-label" id="info">
                * 계좌 번호: 국민 XXX-XX-XXXX-XXX<br>
                * 계좌 이체시 주문하신 후 3일이내 입금확인이 되지 않으면,<br>
                자동 주문취소 처리되므로, 3일 내로 입금을 꼭 해주셔야 합니다.
            </label>
        </div>
    </div>
    <div class="payment-buttons">
        <button class="btn btn-primary" id="checkoutButton" type="button">Check out</button>
    </div>
</div>
</div>
</body>
<script>
    function searchAddress() {
        new daum.Postcode({
            oncomplete: function (data) {
                var fullAddr = data.address;
                var extraAddr = '';

                if (data.addressType === 'R') {
                    if (data.bname !== '') {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                }

                document.getElementById('inputAddress').value = data.zonecode;
                document.getElementById('inputDetailAddress').value = fullAddr;
            }
        }).open();
    }
</script>
</html>
