<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<link href="css/styles.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Evo Market</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<!-- 헤더 포함시키기 -->
<header th:replace="~{header :: header}"></header>

<!--검색창-->
<div id="modal" class="searchModal">
    <div id="modalContent">
            <span class="closeButton" onclick="closeModal()">
                <img src="image/modal_close.png" alt="검색창 닫힘" height="40" width="40">
            </span>
            <input type="text" id="searchInput" placeholder="Type to search">
            <button id="searchButton" onclick="performSearch()">
                <img src="image/arrow.png" alt="arrow" height="20px" width="40px">
            </button>
        </div>
</div>
<!-- 메인배너  -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#"><img src="image/main_banner1.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href="#"><img src="image/main_banner2.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href="#"><img src="image/main_banner3.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href="#"><img src="image/main_banner4.png" class="d-block w-100" alt="..." /></a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br><br><br><br><br>

<!-- 인기 카테고리 -->
<div class="gallery_container">
    <div class="gallery">
        <div class="galleryItem">
            <a href="#">
                <img src="image/pop_cate1.png" alt="Image 1">
                <div class="overlay">
                    <button id="button1">More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="/product">
                <img src="image/pop_cate2.png" alt="Image 2">
                <div class="overlay">
                    <button id="button2">More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="#">
                <img src="image/pop_cate3.png" alt="Image 3">
                <div class="overlay">
                    <button id="button3">More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="#">
                <img src="image/pop_cate4.png" alt="Image 4">
                <div class="overlay">
                    <button id="button4">More</button>
                </div>
            </a>
        </div>
        <div class="galleryItem">
            <a href="#">
                <img src="image/pop_cate5.png" alt="Image 5">
                <div class="overlay">
                    <button id="button5">More</button>
                </div>
            </a>
        </div>

    </div>
</div>


<!-- 푸터 포함시키기 -->
<footer th:replace="~{footer :: footer}"></footer>

<!-- JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>