<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Evo Martket_Admin_주문관리</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>

<!--Header-->
<header th:replace="~{header :: header}"></header>

<div>
    <div class="admin banner">
        <img alt="admin" th:src="@{/image/admin.png}" width="1600px" height="350px">
    </div>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-5 text-black" href="#">Admin</a>
    </nav>

    <div id="layoutSidenav">
        <!--  관리자 페이지 SNB  -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav ps-3">
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/templates/admin}">
                            상품관리
                        </a>
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/manageOrder}">
                            주문관리
                        </a>
                        <a class="nav-link text-decoration-none text-black fw-bold fs-4" th:href="@{/admin/manageBoard}">
                            Board 관리
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- 대시보드 내용 -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">주문관리</h1>

                    <div class="button-container">
                        <button onclick="location.href='/admin/manageOrder'">전체 주문 목록</button>
                        <button onclick="location.href='/admin/manageOrder/0'">결제대기 (<span th:text="${countPending}"></span>)</button>
                        <button onclick="location.href='/admin/manageOrder/1'">배송준비중 (<span th:text="${countPreparing}"></span>)</button>
                        <button onclick="location.href='/admin/manageOrder/2'">배송중 (<span th:text="${countShipping}"></span>)</button>
                        <button onclick="location.href='/admin/manageOrder/3'">결제 취소/환불 (<span th:text="${countRefunding}"></span>)</button>
                        <button onclick="location.href='/admin/manageOrder/4'">배송완료 (<span th:text="${countCompleted}"></span>)</button>
                    </div>

                    <table>
                        <tr>
                            <th>주문일</th>
                            <th>주문번호</th>
                            <th>주문자</th>
                            <th>총금액</th>
                            <th>결제금액</th>
                            <th>상태</th>
                            <th>결제 취소/환불 처리</th>
                        </tr>
                        <tr th:each="order : ${orders}">
                            <td th:text="${#dates.format(order.orderTimestamp, 'yyyy-MM-dd')}"></td>
                            <td th:text="${order.orderNo}"></td>
                            <td th:text="${order.orderName}"></td>
                            <td th:text="${order.orderPayment}"></td>
                            <td th:text="${order.orderPayment}"></td>
                            <td>
                                <span th:if="${order.orderStatus == 0}">결제 대기</span>
                                <span th:if="${order.orderStatus == 1}">배송 준비중</span>
                                <span th:if="${order.orderStatus == 2}">배송중</span>
                                <span th:if="${order.orderStatus == 3}">결제 취소/환불</span>
                                <span th:if="${order.orderStatus == 4}">배송완료</span>
                            </td>
                            <td>
                                <button th:if="${order.orderStatus == 3}">처리</button>
                            </td>
                        </tr>
                    </table>

                </div>
            </main>
        </div>
    </div>
</div>

<!--Footer-->
<footer th:replace="~{footer :: footer}"></footer>

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>